@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    font-weight: 600;
    font-style: normal;
}

html{
    /* Scroll com efeito suave */
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

header > img{
    width: 100px;
}

header{
    display: flex;
    /* da um espaço entre eles (opcional)*/
    /* justify-content: space-between; com logo*/
    justify-content: end;
    /* justify-content: end; sem o logo */
    /* não quebra o layout se der zoom */
    max-width: 1200px;
    margin: 0 auto;
    /* centralização na vertical dos elementos */
    align-items: center;
    padding: 35px 20px;
    min-height: 20vh;
}

#menu{
    display: flex;
    /* espaço entre os elementos */
    gap: 10px;
    /* tira p marcador da lista (remove a bolinha) */
    list-style: none;
}

#menu a{
    /* remove o sublinhado do link */
    text-decoration: none;
    color: #000;
    /* define o espaço interno do elemento*/
    padding: 8px 18px;
    /* define o tamanho da fonte - rem ou em - Ajusta o tamanho da fonte proporcional a tela */
    font-size: 1.3rem;
}

#perfil{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    margin: 0 auto;
    /* desgrudar o texto da imagem */
    gap: 110px;
    align-items: center;
    min-height: 80vh;
}

#perfil-dados > h1{
    font-size: 4rem;
    line-height: 1.4;
}

#perfil-dados > h2{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#perfil-dados > p{
    margin-top: 0px;
    color: #6a6d6d;
}

/* sessão projetos - inicio */
#projetos{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 50px; */
    gap: 110px;
    min-height: 100vh;
    padding-bottom: 20px;
    align-items: center;
}

#projetos h2{
    /* Aumenta fonte */
    font-size: 8rem;
    /* espaço entre as letras */
    line-height: 1;
    /* Transfoma o texto em maiúsculo */
    text-transform: uppercase;
    /* Quebra de caractere */
    word-break: break-all;
    /* Espaçamento entre os caracteres */
    max-width: 3.5ch;
    color: #202d73;
    font-family: "Merriweather", serif;
    font-weight: 600;
    font-style: normal;
}

.principal-destaque{
    font-weight: bold;
    background: #202d73;
    padding: 4px;
    border-radius: 2px 6px;
    color: #fff;
}

#projetos-texto-principal{
    line-height: 1.7;
    font-size: 1.3rem;
    margin-bottom: 4rem;
}

#projetos-lista{
    background: #202d73;
    display: grid;
    /* template de colunas- fr para definir tamanho */
    grid-template-columns: repeat(2,1fr);
    /* grid-template-columns: 1fr 1fr; */
    color: #fff;
    padding: 20px;
    gap: 20px;
    border-radius: 4px;
    margin-top: 15px;
}

#projetos-lista h3{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

#projetos-lista p{
    margin: 0;
    padding: 0;
    color: #8b9999;
}

#projetos-tags{
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    /* alinhamento vertical */
    align-items: start;
    flex-wrap: wrap;
}

#projetos-tags li{
    background: #fff;
    color: #202d73;
    border-radius: 4px;
    line-height: 1.4;
    padding: 4px 8px;
    color: #000;
}

#projetos-musica{
    background: #202d73;
    display: grid;
    /* template de colunas- fr para definir tamanho */
    grid-template-columns: repeat(2,1fr);
    /* grid-template-columns: 1fr 1fr; */
    color: #fff;
    padding: 20px;
    gap: 20px;
    border-radius: 4px;
    margin-top: 15px;
}

#projetos-musica h3{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

#projetos-musica p{
    margin: 0;
    padding: 0;
    color: #8b9999;
}

#projetos-hardware{
    background: #202d73;
    display: grid;
    /* template de colunas- fr para definir tamanho */
    grid-template-columns: repeat(2,1fr);
    /* grid-template-columns: 1fr 1fr; */
    color: #fff;
    padding: 20px;
    gap: 20px;
    border-radius: 4px;
    margin-top: 15px;
}

#projetos-hardware h3{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

#projetos-hardware p{
    margin: 0;
    padding: 0;
    color: #8b9999;
}

/* sessão projetos - final */

/* inicio da sessão de cursos */
 #cursos{
    background-color: #202d73;
    /* margin-top: 50px; */
    min-height: 100vh;
 }
 
 #cursos-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    margin: 0 auto;
    gap: 110px;
    background: #202d73;
    align-items: center;
 }

#cursos-grid h2{
        /* Aumenta fonte de acordo com a tela do dispositivo */
        font-size: 8rem;
        /* espaço entre as letras */
        line-height: 1;
        /* Transfoma o texto em maiúsculo */
        text-transform: uppercase;
        /* Quebra de caractere */
        word-break: break-all;
        /* Espaçamento entre os caracteres - ch: caractere */
        max-width: 3.5ch;
        color: #fff;
        font-family: "Merriweather", serif;
        font-weight: 600;
        font-style: normal;
        gap: 110px;
    

}

#cursos-texto-principal{
    line-height: 1.7;
    font-size: 1.2rem;
    margin-bottom: 4rem;
    color: #fff;
    margin-top: 4rem;
}

#cursos-texto-destaque{
    background: #fff;
    color: #202d73;
    border-radius: 4px;
    line-height: 1.4;
    padding: 4px 8px;
    border-radius: 2px 6px;
    padding: 4px;
}

#cursos-lista{
    display: flex;
    gap: 10px;
}

.cursos-item{
    background: #000;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    flex-direction: column;
    display: flex;
}

.curso-titulo{
    flex: 1;
}

.curso-nivel, .curso-local{
    color: #619191;
}

#cursos-complementares{
    margin-top: 40px;
}

#cursos-complementares h3{
    color: #96a2a2;
}

.cursos-complementares-item{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 400;
}

#idiomas h3{
    color: #b8c4c4;
}

.nivel-cor-idiomas{
    color: #b8c4c4;
}

#cursos-idiomas{
    font-weight: 400;
    color: #fff;
}

/* final da sessão de cursos */

/* começo da sessão inferior/ contato (formulario) */
/* inicio footer */

footer{
    /* padding-top: 40px; */
    min-height: 100vh;
}

#footer-conteudo{
    max-width: 1200px;
    margin: 0 auto; 
}

#form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}

#form-grid input, select{
    padding: 12px 20px;
    border: 1px solid #202d73;
    border-radius: 4px;
}

#form-grid option{
    font-size: 1.1rem;
}

#msg{
    width: 100%;
    height: 200px;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    padding: 12px 20px;
    border: 1px solid #202d73;
    border-radius: 4px;
}

#form-aviso{
    padding: 0;
    margin-top: 0;
    font-size: 12px;
    color: #6a6d6d;
}

.btn-contato{
    /* width: 100%; */
    padding: 12px 20px;
    background: #202d73;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 20px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#footer-conteudo h2{
    font-size: 5rem;
    text-transform: uppercase;
    color: #202d73;
    text-align: center;
    letter-spacing: 1.2rem;
}

#footer-inferior{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 40px 0;
}

#footer-inferior a{
    padding: 10px 0;
    text-decoration: none;
    color: #000;

}

#footer-inferior a:hover{
    color: #00000071;
}

.alinhar-centro{
    text-align: center;
}

.alinhar-direita{
    text-align: right;
}

#copy{
    padding: 20px 0px;
    text-align: center;
}


.borda-erro{
    border: 1px solid red;
}

