@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    
}

body{
    margin: 0;
}

header > img{
    width: 100px;
}

header{
    display: flex;
    /* da um espaço entre eles (opcional)*/
    justify-content: space-between;
    /* justify-content: end; sem o logo */
    /* não quebra o layout se der zoom */
    max-width: 1200px;
    margin: 0 auto;
    /* centralização na vertical dos elementos */
    align-items: center;
    padding: 35px 20px;
}

#menu{
    display: flex;
    /* espaço entre os elementos */
    gap: 10px;
    /* tira p marcador da lista (remove a bolinha) */
    list-style: none;
}

#menu a{
    /* remove o sublinhado do link */
    text-decoration: none;
    color: #000;
    /* define o espaço interno do elemento*/
    padding: 8px 18px;
    /* define o tamanho da fonte - rem ou em - Ajusta o tamanho da fonte proporcional a tela */
    font-size: 1.3rem;
}

#perfil{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    /* desgrudar o texto da imagem */
    gap: 110px;
    align-items: center;
}

#perfil-dados > h1{
    font-size: 4rem;
    line-height: 1.4;
}

#perfil-dados > h2{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#perfil-dados > p{
    margin-top: 0px;
    color: #6a6d6d;
}