*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
}

header > img{
    width: 100px;
}

header{
    display: flex;
    /* da um espaço entre eles (opcional)*/
    justify-content: space-between;
    /* justify-content: end; sem o logo */
    /* não quebra o layout se der zoom */
    max-width: 1200px;
    margin: 0 auto;
    /* centralização na vertical dos elementos */
    align-items: center;
    margin-top: 5px;
}

#menu{
    display: flex;
    /* espaço entre os elementos */
    gap: 10px;
    /* tira p marcador da lista (remove a bolinha) */
    list-style: none;
}

#menu a{
    /* remove o sublinhado do link */
    text-decoration: none;
    color: #000;
    /* define o espaço interno do elemento*/
    padding: 8px 18px;
    /* define o tamanho da fonte - rem ou em - Ajusta o tamanho da fonte proporcional a tela */
    font-size: 1.3rem;
}